<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.zadalkhairapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.ZadAlkhairApp">
        <activity
            android:name=".activity.SignupScreen"
            android:exported="false" />
        <activity
            android:name=".activity.LoginScreen"
            android:exported="false" />
        <activity
            android:name=".activity.TypeUserScreen"
            android:exported="false" />
        <activity
            android:name=".activity.OnBoardingScreen"
            android:exported="false" />
        <activity
            android:name=".activity.SplashScreen"
            android:exported="true"
            android:theme="@style/NoTitle">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>